<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Student</title>
</head>
<body>
<div class="container">
    <h3>Password page</h3>
    <hr>
    <p class="h4 mb-4">Save Password</p>
    <hr>
    <p class="h4 mb-4">please type the two new passwords correctly</p>
    <form action="#" th:action="@{/students/savePassword(studentRoll=${roll})}"
          th:object="${checker}" method="POST">
        <input type="password" th:field="*{newPassword}"
               class="form-control mb-4 col-4" placeholder="new password">
        <input type="password" th:field="*{newPasswordChecker}"
               class="form-control mb-4 col-4" placeholder="retype new password">
        <button type="submit" class="btn btn-info col-2">Save</button>
        <p th:if="*{oldPassword == 'yes'}" class="text-danger">please make sure password has at least one capital letter one small and one number</p>
        <p th:if="*{oldPassword == 'length'}" class="text-danger">password should be atleast 6 letters</p>
        <p th:if="*{oldPassword == 'same'}" class="text-danger">type the two passwords correctly</p>
    </form>
    <hr>
    <a th:href="@{/students/list}">Back to Students List</a>
</div>
</body>
</html>










